.keyword {
    color: blue;
}

.syntax {    
    color: black;
}

.identifier {   
    color: black; 
}

.literal {    
    color: blue;
}

.mono {    
    color: blue;
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
}

ul {
    margin: 10px;
    list-style: none;
}

ul li {
    background-color: white;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px;
    box-shadow: none;
    border-style: solid;
    margin: 10px;
    text-wrap: normal;
}

ul ul {
    list-style: square;
}

ul ul li {
    border: none;
}
